* {
    margin: 0;
    padding: 0;
}
body {
    background: url(islamic-background.jpg);
}

#container {
    height: 500px;
    width: 550px;
    margin: 100px auto;
    background: white;
    -webkit-box-shadow: 17px 0px 10px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 0px 10px -11px rgba(0,0,0,0.75);
    box-shadow: 17px 0px 10px -11px rgba(0,0,0,0.75);
    border-radius: 20px;
    text-align: center;
  }

h1 {
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
}

h2 {
    text-align: center;
    background-color: rgb(192, 145, 24);
    border-bottom: solid;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 60px auto;
    background: #ad7c13;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
h4 {
    font-size: 20px;
    padding: 10px;
}

.syarat-syarat {
    font-size: 17px;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
  }

.kalkulasi {
    font-size: 17px;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}

p {
    margin: 20px;
}

#totalZakaat {
    font-size: 30px;
    margin: 0 auto;
    color: white
}

#total {
    background-color: black;
}